<header>
    <img
      src="assets/img/paulo.jpg"
      alt="Paulo Paim - Foto de Perfil"
      width="130px"
      height="130px"
      loading="eager"
    />
    <h1>Paulo Paim</h1>
  </header>
  
  <aside>
    <div class="container">
      <p>Full-Stack Java | Angular | API Developer</p>
      <p>São José do Rio Preto, São Paulo, Brasil</p>
      <p>
        Graduado em Ciência da Computação pela Universidade Estadual Paulista (UNESP) com
        sólida experiência em desenvolvimento de sistemas Java e competência em banco de dados,
        desenvolvimento web (HTML, CSS, Javascript) e integrações.
      </p>
  
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
              Download Cv
            </a>
          </li>
  
          <li>
            <a
              href="https://www.linkedin.com/in/paulo-henrique-paim-dos-santos"
              target="_blank"
              class="btn btn-secondary"
            >
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://api.whatsapp.com/send?phone=5517981225942&text=Ol%C3%A1%20Paulo"
              target="_blank"
            >
              <strong>Envie uma menssagem para:</strong>
              <p>WhatsApp: (17) 9 8122-5942</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:paulo.paimsantos@gmail.com" target="_blank">
              <strong>Envie uma e-mail para:</strong>
              <p>paulo.paimsantos&#64;gmail.com</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </div>
  </aside>
  